.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 36px;
  color: gray;
}

.app h2,
h3,
h4 {
  line-height: 0px;
}

.app .ip {
  color: blue;
}

.messages {
  border: 1px solid gray;
  width: 300px;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  padding: 0 12px;
  margin: 24px 0;
}

.sender {
  width: 324px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sender input {
  padding: 8px;
  font-size: 16px;
}

.sender button {
  background-color: green;
  border: 0;
  color: white;
  font-weight: bold;
}